body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/049/336/original/kitty.jpg?1666200260");
  max-width: 100%;
}
.card {
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 40px !important;
  background-color: #d59bf6 !important;
  border: 3px solid #5f1854 !important;
}
.weather {
  font-size: 25px;
  text-align: center;
}

input {
  text-align: center !important;
  display: block !important;
  margin: 0 auto !important;
  border: 2px solid #5f1854 !important;
}

.cat {
  display: block;
  text-align: center;
  margin: auto;
}
.btn-outline-primary {
  display: inline-block !important;
  text-align: center;
  background-color: #f48db4 !important;
  min-width: 100px;
  color: black !important;
  border: 2px solid #5f1854 !important;
  border-radius: 40px !important;
  box-shadow: 2px 2px 2px #5f1854 !important;
}

.temp {
  font-size: 25px;
  color: grey;
}
.link {
  display: block;
  text-align: center;
  margin: 0 auto;
  color: black;
  font-size: 20px;
}
.link:hover {
  color: #5f1854;
}
.search {
  background-color: #f48db4;
}
.search:hover {
  background-color: #d59bf6;
}
.humid,
.wind {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 13px;
}
.kittyapp {
  max-width: 600px;
  border: 3px solid #5f1854;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
}
.row {
  text-align: center;
  display: inline-block;
}
.weather-forecast {
  display: flex;
  justify-content: center;
  width: 100%;
}
